body {
	background-color: #edeff4;
}
/*.twitter-bird {
	background: url("https://dev.twitter.com/sites/default/files/images_documentation/bird_gray_32.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    width: 24px;
}*/

.form-control {
	margin-bottom: 5px;
}

.form-button {
	width: 80px;
}

.form-error {
	margin-top: 5px;
}

#footer {
    background-color: rgba(0, 0, 0, 0);
    font-size: 10px;
    margin: 20px 0 0;
    padding: 16px 0 15px;
    text-align: center;
}