body {
	background-color: #edeff4;
}

.wrapper {
    padding-top: 80px;
}

.twitter-bird {
    position: absolute;
    top: 9px;
    width: 24px;
    width: 35px; 
    height: 30px;
}

/*.background-image{
  height:300px;
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('https://dl.dropboxusercontent.com/u/2665617/bootstrap/images/image1.jpg');
    }*/

@media only screen and (max-width: 767px){
.background-image {
  height: 200px;
}}

h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.form-signin-heading {
	margin-bottom: 30px;
}

.form-control {
	margin-bottom: 10px;
}

.form-button {
	width: 80px;
	margin-bottom: 5px;
}

.form-error {
	margin-top: 5px;
}

.hidden-username {
    display: none;
}

#tweet-box {
    width: 600px;
    height: 100px;
    border: 3px solid #cccccc;
    padding: 5px;
}

.tweet-button {
    margin-left: 530px;
    margin-top: 10px;
}

#footer {
    background-color: rgba(0, 0, 0, 0);
    font-size: 10px;
    margin: 20px 0 0;
    padding: 16px 0 15px;
    text-align: center;
}