body {
	background-color: #edeff4;
}

.wrapper {
    padding-top: 80px;
}

.twitter-bird {
    position: absolute;
    top: 9px;
    width: 24px;
    width: 35px; 
    height: 30px;
}

/*.background-image{
  height:300px;
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('https://dl.dropboxusercontent.com/u/2665617/bootstrap/images/image1.jpg');
    }*/

@media only screen and (max-width: 767px){
.background-image {
  height: 200px;
}}

h3.promotion {
	margin-top: 30px;
	margin-bottom: 20px;
}

.form-signin-heading {
	margin-bottom: 30px;
}

.form-control {
	margin-bottom: 10px;
}

.form-button {
	width: 80px;
	margin-bottom: 5px;
}

.form-error {
	margin-top: 5px;
}

.user-home {
    border-radius: 10px;
    background-color: #666666;
}

.profile-sidebar {
    border: 3px solid #cccccc;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-top: 80px;
    border-radius: 5px 5px 5px 5px;
    /*position: fixed;*/
}

.profile-img {
    padding-right: 15px;
    padding-bottom: 10px;
}

.profile-info {
    list-style-type:none;
    padding-left: 10px;
}

.profile-info-detail {
    padding-left: 15px;
}

#tweet-box {
    width: 400px;
    height: 65px;
    border: 3px solid #cccccc;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

.tweet-list {
    list-style-type:none;
    padding-left: 10px;
}

.tweet {
    line-height: 14px;
    padding-left: 5px;
    font-size: 12px;
    text-decoration: none;
}

.tweet-content {
    padding-left: 5px;
}

.tweeted-time {
    color: #555555;
    font-size: 10px;
    padding-right: 10px;
    text-align: right;
    text-decoration: none;
}

#tweet-button {
    margin-left: 335px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#tweet-column {
    width: 400px;
    margin-bottom: 30px;
    background-color: white;
    border: 3px solid #cccccc;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

#tweet-list-bottom {
    text-align: center;
    color: #aaaaaa;
    font-size: 10px;
}

#load-more-tweets {
    text-decoration: none;
}

#footer {
    background-color: rgba(0, 0, 0, 0);
    font-size: 10px;
    margin: 20px 0 0;
    padding: 16px 0 15px;
    text-align: center;
}